<h1><%= current_user.name %>の日記一覧</h1>

<% if @diaries.any? %>
  <ul>
    <% @diaries.each do |diary| %>
      <li>
        <strong><%= diary.date.strftime("%Y年%m月%d日") %></strong>
        <p>タイトル: <%= diary.title %></p>
        <p>メモ: <%= diary.memo %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだ日記がありません。</p>
<% end %>
