<div class="">
  <div class="flex justify-center items-center bg-gray-100 pb-8">
    <%= image_tag 'default_ogp.png', class: 'max-w-3xl w-full rounded-lg' %>
  </div>

  <div class="text-center text-lg font-bold my-6 h-5">
    ～　一文字日記の使い方　～
  </div>

  <div class="space-y-6 px-4">
    <div class="flex justify-center">
      <%= image_tag 'howto_1.png', class: 'max-w-3xl w-full rounded-lg shadow-md' %>
    </div>
    <div class="flex justify-center">
      <%= image_tag 'howto_2.png', class: 'max-w-3xl w-full rounded-lg shadow-md' %>
    </div>
    <div class="flex justify-center">
      <%= image_tag 'howto_3.png', class: 'max-w-3xl w-full rounded-lg shadow-md' %>
    </div>
  </div>
</div>

<div style="height: 1rem;"></div>
