@tailwind base;
@tailwind components;
@tailwind utilities;

/* カレンダーのスタイル */
.simple-calendar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.calendar-title time {
  @apply text-2xl font-bold;
}

.simple-calendar td {
  @apply p-2 align-top;
}

/* カレンダーの日付セルのスタイル */
.day {
  @apply bg-white shadow p-2 relative h-6 w-6;
  position: relative;
}

/* 日付表示のスタイル */
.date {
  @apply text-gray-500 text-base absolute;
  top: 4px; /* 日付の位置を微調整 */
  left: 4px;
}

/* 前月・次月ボタンのスタイル */
.prev-month, .next-month {
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.prev-month:hover, .next-month:hover {
  background-color: #e0e0e0;
}

.calendar-link {
  position: relative;
  display: inline-block;
}

/* フォントのスタイル */
.font-zen {
  font-family: 'Zen Old Mincho', serif !important;
}

/* ムードラベルのスタイル */
.mood-label {
  cursor: pointer;
  margin-right: 20px;
  display: inline-block;
}

/* ムードイメージのスタイル */
.mood-image {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

input[type="radio"]:checked + .mood-label .mood-image {
  border-color: #5b8abd;
}

/* ナビゲーションのスタイル */
header nav {
  @apply flex justify-between items-center;
}

header nav a {
  @apply px-4 py-2 bg-red-500 text-white;
  width: auto; /* 自動調整 */
}
