<footer class="bg-stone-200 py-4">
  <div class="container mx-auto text-center">
    <div class="flex justify-center space-x-4">
      <%= link_to '利用規約', page_path('terms') %>
      <%= link_to 'プライバシーポリシー', page_path('privacy') %>
    </div>
  </div>
</footer>
