<div class="navbar bg-stone-200 flex flex-row justify-between max-w-full">
  <div class="flex-1">
    <a><%= link_to '一文字日記', root_path, class: "italic text-lg sm:text-xl font-yuji" %></a>
  </div>
  <div class="flex flex-row justify-end items-center space-x-4">
    <%= link_to '会員登録', new_user_registration_path, class: "btn sm:w-52 bg-stone-400 text-white" %>
    <%= link_to 'ログイン', new_user_session_path, class: "btn sm:w-52 bg-stone-400 text-white" %>
  </div>
</div>
